/* ========== Mobile Device Responsive ========== */
@media screen and (max-width: 600px){
    .container{
        width: 90%;
    }

    .nav-container{
        flex-direction: column;
    }

    .logo-title{
        justify-content: center;
    }

    .menu-item{
        margin-top: 10px;
    }

    .menu-item ul li a{
       justify-content: space-between;
       margin-right: 10px;
    
    }

    .header-section{
        margin-top: 20px;
    }

   .logo-title{
    width: 100%;
   }

   .banner-container{
    width: 95%;
   }

   .banner-container .banner-text h1{
    font-size: 2.25rem;
    padding: 10px;
   }

   .banner-container .banner-text p{
    font-size: 1rem;
    padding: 15px;
   }

   .banner-container form{
        flex-direction: column;
        padding: 10px 10px;
        gap: 20px;
        width: 70%;
        margin: 20px 100px;
        justify-content: center;
        align-items: center;
   }
   .banner-container form, input, select, button{
    flex-direction: column;
   }


   .popular{
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding: 20px;
}

.popular-content, .popular-img img {
    width: 100%;
}

.popular-content h3 {
    font-size: 1.5rem;
}

.popular-content button {
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 20px;
}


.destination{
    margin-top: 10px;
}
.destination-text h2{
    text-align: center;
}
.destination-text p{
   text-align: center;
   padding: 10px 50px;
}

.destination .container-destination-collage{
    display: grid;
    grid-template-areas:
    "grid-item1"
    "grid-item2"
    "grid-item3"
    "grid-item4"
    "grid-item5"
    "grid-item6"
    "grid-item7";
    gap: 10px;
}

/* ========== Choose Section Starts ========== */

.choose-container .choose-content h2{
    justify-content: center;
    align-items: center;
}


}

